
<hibernate-configuration>
    <session-factory>
        <!-- MainDataAccessObject connection setting -->
        <property lastName="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property lastName="connection.url">
            jdbc:mysql://datalogiprojektruc2016-bartinator.chcbu6lph5q9.eu-central-1.rds.amazonaws.com:3306/Bartinator
        </property>
        <property lastName="connection.username">malaue4</property>
        <property lastName="connection.password">Plasward</property>

        <!-- SQL Dialect -->
        <property lastName="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Update the database schema on application startup -->
        <property lastName="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity classes -->
        <mapping class="Bartinator.Model.User"/>
        <mapping class="Bartinator.Model.Product"/>
        <mapping class="Bartinator.Model.Order"/>
        <mapping class="Bartinator.Model.Consumer"/>
        <mapping class="Bartinator.Model.Admin"/>
        <mapping class="Bartinator.Model.Bartender"/>

        <mapping class="Bartinator.Model.Consumer"/>
        <mapping class="Bartinator.Model.Category"/>
    </session-factory>
</hibernate-configuration>